.chats-page {
  background-color: #f8f8f8;
  height: 100vh;
  padding: 20px;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 20px;
}

.dropdown {
  width: 60%;
  padding: 5px;
}

.start-chat {
  padding: 10px 15px;
  color: white;
  background-color: #007aff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.chat-list {
  display: flex;
  flex-direction: column;
}

.chat-item {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  color: black;
  text-decoration: none;
}

.chat-item:hover {
  background-color: #eaeaea;
}

.chat-thumbnail img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  margin-right: 10px;
}

.chat-preview {
  flex-grow: 1;
}

.theologian-details {
  font-weight: bold;
}

.delete-chat {
  background: none;
  color: red;
  border: none;
  margin-left: 10px;
  cursor: pointer;
}
