@import url('https://fonts.googleapis.com/css2?family=Bacasime+Antique&display=swap');
* {
  box-sizing: border-box;
}

.Home {
  text-align: center;
  font-family: 'Bacasime Antique', serif;
}

.Home-header {
  position: relative;
  text-align: center;
  color: white;
}
.Home-header-left-pane {
  width: 100%;
  height: 200px;
}

.Home-banner-text {
  position: absolute;
  top: 200px;
  left: 50%;
  font-size: 20px;
  transform: translate(-50%, -50%);
  background-color: #63897ef2;
  border-radius: 15px;
  color: white;
  padding: 20px;
  max-width: 500px;
  text-align: center;
}

.Home-banner {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-size: cover;
  background-position: center;
  z-index: -1;
}

.Home-button-holder {
  width: 250px;
  margin: 0 auto;
}
.Home-button {
  font-family: 'Bacasime Antique', serif;
  font-size: 20px;
  font-style: bold;
  background-color: #cf6c3e;
  color: white;
  padding: 10px 20px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  float: right;
  margin: 1rem 15px;
}

.Home-button-2 {
  font-family: 'Bacasime Antique', serif;
  font-size: 20px;
  font-style: bold;
  background-color: #e1d8c0;
  padding: 10px 20px;
  border-radius: 4px;
  margin-top: 1rem;
  border: none;
  cursor: pointer;
  float: left;
}

.Home-button,
.Home-button-2 {
  transition: all 0.3s ease-in-out; /* add transition effect */
}

.Home-button:hover {
  transform: scale(1.05); /* scale up the button */
  background-color: #e3925e; /* change color */
}

.Home-button-2:hover {
  transform: scale(1.05); /* scale up the button */
  background-color: #f2f1e7; /* change color */
}
input {
  margin: 0 10px !important;
}
